.zigzag{
    width: 40%;
    height: 60ch;
}

.left-zig {
    -webkit-shape-outside: polygon(100% 100%, 0 0, 0 100%);
    float: left;
}

.right-zig {
    -webkit-shape-outside: polygon(100% 100%, 0 0, 100% 0);
    float: right;
}


.left-zag {
    -webkit-shape-outside: polygon(100% 0, 0 0, 0 100%);
    float: left;
}

.right-zag {
    -webkit-shape-outside: polygon(100% 0, 100% 100%, 0 100%);
    float: right;
}